* {
    margin: 0;
    padding: 0;
    outline: none;
}

html {
    height: 100%;
    width: 100%;
    font-family: 'Magistral', sans-serif;
    font-size: 62.5%;
    background: #000;
}

body {
    font-size: 1.4rem;
    min-height: 100%;
    width: 100%;
    background: linear-gradient(#000066, transparent), url("../images/noise.svg"), linear-gradient(#000066, #ff00ff);
    color: #fff;
    text-align: center;
    background-attachment: fixed;
    display: grid;
    justify-items: center;
    align-content: center;
    grid-gap: 2vh;
    padding: 2%;
    box-sizing: border-box;
}

    h1 {
        text-transform: uppercase;
        display: grid;
        justify-items: center;
        grid-gap: 1vh;
        font-weight: 700;
        color: #00ffff;
        text-shadow: 3px 3px 0 #ff00ff;
    }

    #SuperLotoKloudbox {
        width: 20rem;
    }

    p{
        display: grid;
        grid-gap: 1vh;
        font-size: 1.6rem;
    } 